body {
    background-color:#090A0B;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6em;
    margin: 0;
}
#main-header {
    background-color: #000000;
}

.container {
    width: 80%;
    margin-left: 20px;
    overflow: hidden;
}
nav ul {
  padding-left: 0px;
  list-style: none;
}

#navibar li {
   display: inline;

}

#navibar a { 
    color: #E2D8D8;
    font-size: 20px;
    text-decoration: none;
    padding-right: 15px;
}

#navibar a:hover {
color: red;

}

.title {
  color: #E2D8D8;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  font-family: papyrus;
  font-style: italic;
}

#main-footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 1000px;
}